POSTGRES_DB=megachess
POSTGRES_USER=chess
POSTGRES_PASSWORD=troque_por_senha_forte

JWT_SECRET=troque_por_segredo_jwt_forte
JWT_REFRESH_SECRET=troque_por_segredo_refresh_forte

APP_URL=https://megachessonline.pcout.cloud
